*{
    margin: 0;
    padding: 0;
    color: black;
}

body{
    background: #9f9f9f url(../img/fundo.png) top center repeat-x;
    /* background-size: cover; */
    display: flex;
    justify-content: space-around;

}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: #227115;
}

#container{
    max-width: 1200px;
    width: 1200px;
    height: 900px;
    border: 5px solid yellow;
    box-sizing: border-box;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 90px;
}

nav{
    padding-top: 40px;
}

li{
    display: inline;
    padding-right: 20px;
    flex-wrap: wrap;
}

.nav-link{
    color: rgb(153, 111, 35);
}



#row-one{
   float: left;
   margin-right: 15px;
}

h3{
    display: inline;
}

div{
    display: inline-block;
    width: 350px;
    box-sizing: border-box;
    border: yellow 2px solid;
    padding: 15px;
}

#section-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

p{
    display: inline;
}

